.container {
    width: 305px;
    height: 80px;
    position: relative;
    border: 3px solid #ad3b1f;
    border-radius: 10px;
    background-color: white;
}

.button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myButton {
    width: 300px;
    height: 75px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    background-color: #ad3b1f;
    border: 2px white;
    border-radius: 10px;
}

.circle1 {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.circle2 {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    top: 25%;
    left: 85%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

